<div id="content-area">
  <ol>
    <li>beans</li>
    <li>greens</li>
    <li>potatoes
      <ol>
        <li>tomatoes</li>
        <li>lamb
          <ol>
            <li>ram</li>
            <li>hog</li>
          </ol>
        </li>
        <li>chicken</li>
      </ol>
    </li>
    <li>turkey</li>
    <li>chicken</li>
  </ol>
</div>
