/*
 * YOUR STYLES HERE
 */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html {
  font-size: 12px; }

body {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  margin-top: 2.5rem;
  padding: 0 1.667rem;
  color: #000000;
  font-size: 1rem;
  line-height: 1.25rem;
  -webkit-font-smoothing: auto; }

a {
  color: #f26532;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

p {
  margin-bottom: 1.25rem;
  line-height: 1.25rem; }

ul, ol {
  margin: 1em 0;
  line-height: 115%; }

ul {
  margin-left: 0;
  padding-left: 2rem;
  list-style-type: binary; }

ol {
  margin-left: 0;
  padding-left: 2rem;
  margin-left: 0.8333rem; }

ul ul, ul ol {
  margin: 0; }

ol ol, ol ul {
  margin: 0; }

ul ul {
  list-style-type: circle; }

ul ul ul {
  list-style-type: square; }

ol ol {
  list-style-type: lower-alpha; }

ol ol ol {
  list-style-type: decimal; }

#content-area li {
  margin: 0;
  padding: 0;
  line-height: 1.45rem; }

hr {
  clear: both;
  border-top: 1px solid #ccc;
  background: none;
  height: 1px;
  margin: 1.25rem 0;
  max-width: 100%;
  border-bottom: 0;
  box-sizing: border-box; }

.menu.horizontal > li, .menu > li {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 1 auto; }

.tag {
  font-weight: normal;
  font-family: Verdana;
  font-size: 0.9167rem;
  text-transform: none;
  text-decoration: underline;
  color: #999999; }

.sg-pattern {
  overflow: hidden; }

#sg-patterns {
  max-width: 980px;
  margin: 0 auto; }

.sg-header {
  background: #b4b2b2; }

.sg-header a {
  color: #fff; }

.sg-header a.active, .sg-header a:focus, .sg-header a:hover {
  color: #fff;
  background: #423F43; }

.sg-current-size {
  color: #423f43; }

.sg-input {
  background: #F1F1F1;
  margin-right: 1px; }

.sg-tools-toggle {
  background: #c9c9c9;
  color: #423f43; }

.sg-swatch {
  background: #f26532;
  display: block;
  width: 100%;
  height: 4.167rem;
  margin-bottom: 0.6667rem; }

.sg-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important; }

.sg-colors li {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  padding: 0.3em;
  margin: 0 0.5em 0.5em 0;
  min-width: 7em;
  max-width: 7em;
  border: 1px solid #ddd; }

.sg-subtype h2 {
  margin-top: 1.667rem;
  margin-bottom: 0;
  font-weight: bold; }

.sg-subtype h2 a {
  text-decoration: none;
  color: #423F43;
  padding-top: 1.667rem; }

.sg-subtype {
  padding: 1.667rem 0 0 0; }

.sg-pattern-example {
  border: 1px solid #eee;
  border-top: 0;
  padding: 0.8333rem; }

#molecules-navigation .sg-pattern-example {
  border: 0;
  border-top: 0;
  padding: 0; }

.logo-imgs {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4.167rem; }

.img-sizes {
  margin-bottom: 20px; }

/* Asia Society Fonts */
@font-face {
  font-family: 'NewsGothicBT-BoldCondensed';
  src: url("../webfonts/1B0975_6_0.eot");
  src: url("../webfonts/1B0975_6_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1B0975_6_0.woff") format("font-woff"), url("../webfonts/1B0975_6_0.ttf") format("truetype"); }

@font-face {
  font-family: 'NewsGothicBT';
  src: url("../webfonts/1B0975_0_0.eot");
  src: url("../webfonts/1B0975_0_0.eot?#iefix") format("embedded-opentype"), url("../webfonts/1B0975_0_0.woff") format("font-woff"), url("../webfonts/1B0975_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Nanum';
  src: url("../webfonts/asianlang/NanumGothic.eot");
  src: url("../webfonts/asianlang/NanumGothic.eot?#iefix") format("embedded-opentype"), url("../webfonts/asianlang/NanumGothic.woff") format("font-woff"), url("../webfonts/asianlang/NanumGothic.ttf") format("truetype"); }

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: 'NewsGothicBT-BoldCondensed',sans-serif;
  font-weight: normal;
  margin-bottom: 0; }

h2, .center-widget.views-field-title {
  font-family: 'NewsGothicBT-BoldCondensed', sans-serif;
  line-height: 2rem;
  font-size: 1.75rem;
  text-transform: uppercase;
  margin: 1.333rem 0 0.8333rem 0; }

h3 {
  margin: 1.083rem 0; }

.menu > li > a {
  padding: inherit; }

.as-special-collapsible-menu {
  margin: 1rem 0; }

.as-special-collapsible-menu ul.menu li {
  position: relative;
  list-style: none;
  margin: 0.3333rem 0; }

.as-special-collapsible-menu ul.menu li a {
  font-size: 1.167rem;
  line-height: 1.333rem;
  font-family: 'NewsGothicBT',sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 0.25rem; }

.as-special-collapsible-menu ul.menu li ul.menu li a {
  display: inline-block;
  position: relative;
  width: 97%;
  padding-left: 1rem;
  line-height: 1.5rem;
  padding-bottom: 0;
  text-transform: none; }

.image-caption {
  color: #000000;
  font-style: italic;
  font-size: 0.8333rem;
  line-height: 1.25rem; }

.category-value,
.views-field-view-node {
  font-family: 'Adobe Garamond Pro', Garamond, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase; }

.views-field-title {
  padding-bottom: 0.4167rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.1667rem 0 0.5833rem 0;
  word-wrap: break-word; }

.views-field-title a {
  color: #000000; }

.center-widget.views-field-title {
  font-weight: normal;
  text-transform: none; }

.view-calendar-feature .views-field-title a {
  color: #f26532;
  font-weight: normal; }

.views-field-view-node {
  font-size: 1.167rem;
  line-height: 1.25rem;
  margin-top: 0.4167rem;
  padding-bottom: 1.25rem;
  word-wrap: break-word;
  text-transform: none; }

#newfooter {
  color: #888;
  font-size: 1rem;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

#newfooter a:link {
  color: #888;
  text-decoration: none;
  font-weight: 200;
  font-size: 1rem; }

#newfooter a:hover {
  color: #f26532; }

#newfooter h3 {
  color: #333;
  font: 1.333rem;
  font-family: "NewsGoth BT",sans-serif;
  padding: 0;
  margin-top: 1.833rem;
  font-size: 1.167rem; }

#newfooter ul li {
  list-style-type: none;
  padding: 0.1667rem 0; }

.below-footer p {
  font-size: 0.8333rem;
  line-height: 1.167rem; }

/* Blog Asia Fonts */
.section-blog h1 {
  font-size: 2.667rem;
  font-family: Georgia, serif;
  line-height: 2.917rem;
  color: #333333; }

.featured-blog {
  padding: 1.667rem 0 0 0;
  color: #000000; }

.section-blog .sub a {
  font-family: Georgia, serif;
  font-size: 2.25rem;
  line-height: 2.417rem;
  text-transform: none;
  color: #000000;
  font-weight: normal; }

body.section-blog .views-field-title a:link {
  color: #000000; }

.blog-categories {
  background-color: #EEEEEE;
  color: #333 !important;
  font-family: Georgia, serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.5rem;
  padding: 0.8333rem 0 0.8333rem 0.8333rem;
  text-align: left;
  width: 100%; }

.section-blog p {
  color: #333333;
  font-size: 1rem;
  line-height: 1.25rem; }

.featured_blog_post .views-field-field-image-caption-value .field-content {
  font-size: 0.8333rem;
  font-style: italic;
  color: #666666;
  line-height: 1.25rem; }

#blog_rss a:link {
  font-style: Georgia,serif;
  color: #666666;
  margin-left: 0.8333rem; }

#blog_rss a:hover {
  text-decoration: none; }

.featured_blog_post .views-field-field-image-caption-value {
  color: #000000;
  font-style: italic;
  font-size: 0.8333rem;
  line-height: 1.25rem; }

.strip-like {
  padding-bottom: 0.3333rem;
  font-size: 1.167rem;
  line-height: 1.667rem;
  font-weight: bold; }

.sidebar-cat .view-content {
  background-color: #fff;
  padding: 0.8333rem 6.667rem 0 0.8333rem;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC; }

.sidebar-cat .views-row, .sidebar-cat .views-field-name {
  display: inline;
  margin-bottom: 0.8333rem; }

.sidebar-cat a {
  color: #558BBA;
  padding: 0.25rem;
  line-height: 1.667rem;
  margin: 0 0.4167rem 0 0;
  display: inline; }

#blog_keywords a:link, #blog_keywords a:hover, #blog_keywords a:visited, #blog_keywords a:active {
  text-transform: uppercase;
  background-color: #999;
  font-size: 0.75rem;
  color: #fff;
  padding: 0.25rem;
  line-height: 1.917rem; }

.blog_cat a:link, .blog_cat a:hover, .blog_cat a:visited, .blog_cat a:active {
  float: left;
  font-size: 0.8em;
  line-height: 0.8em;
  margin-bottom: 0;
  margin-right: 0.8333rem; }

.submitted {
  background: none;
  color: #999;
  font-size: 0.8333rem;
  line-height: 1.25rem;
  margin: 0;
  padding: 0; }

.view-id-featured_blog_post .submitted {
  height: 2.5rem;
  color: #666; }

.submitted2 {
  color: #999999;
  font-size: 0.8333rem;
  margin-bottom: 0.4167rem;
  line-height: 1.5rem; }

/*Navigation*/
.separator hr {
  height: 25px;
  width: 1px;
  margin: 0;
  color: #888;
  background: #888;
  border: none; }

.mega-menu > a::after {
  display: none; }

.top-bar, .top-bar ul {
  background: transparent;
  padding: 0; }

.top-bar ul {
  background: rgba(0, 0, 0, 0.75);
  height: 40px; }

.top-bar .menu li a {
  color: #fff;
  font-family: 'NewsGothicBT-BoldCondensed',sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 10px; }

.top-bar .menu .capitalize a {
  text-transform: capitalize; }

.top-bar .menu li a:hover {
  text-decoration: none;
  color: #f26532; }
