<p class="tag">Font, Style, Size, Leading, Transform, Color</p>

<div id="newfooter">
  <h3>Footer Titles: NewsGothicBT, sans-serif, normal, 1rem, normal, #000000</h3>
  <ul>
    <li><a href="#">Footer Link: Verdana, Arial, Helvetica, sans-serif, normal, 1rem, 1.083rem, #888888</a></li>
  </ul>
  <div class="below-footer">
    <p>Below Footer Block: Verdana, Arial, Helvetica, sans-serif, normal, 0.8333rem, 1.167rem, #888888</p>
  </div>
</div>
