<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #f26532;"></span>
		<span class="sg-label">#f26532</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #005dab;"></span>
		<span class="sg-label">#005dab</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #130e4e;"></span>
		<span class="sg-label">#130e4e</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #231e24;"></span>
		<span class="sg-label">#231e24</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
</ul>
