<div id="content-area">
  <ul>
    <li>beans</li>
    <li>greens</li>
    <li>potatoes
      <ul>
        <li>tomatoes</li>
        <li>lamb
          <ul>
            <li>ram</li>
            <li>hog</li>
          </ul>
        </li>
        <li>chicken</li>
      </ul>
    </li>
    <li>turkey</li>
    <li>chicken</li>
  </ul>
</div>
