<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #eeeeee;"></span>
		<span class="sg-label">#eeeeee</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c0c0c0;"></span>
		<span class="sg-label">#c0c0c0</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #aaaaaa;"></span>
		<span class="sg-label">#aaaaaa</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #888888;"></span>
		<span class="sg-label">#888888</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777777;"></span>
		<span class="sg-label">#777777</span>
	</li>

</ul>
