<div id="page">
  <p class="tag">Font, Style, Size, Leading, Transform, Color</p>

  <h1>Page Title / h1: NewsGothicBT-BoldCondensed, sans-serif, normal, 3.5rem, 4rem, #000000</h1>

  <h2>Pane Title / h2: NewsGothicBT-BoldCondensed, sans-serif, normal, 1.75rem, 2rem, uppercase, #000000</h2>

  <div class="center-widget views-field-title"><a href="#">Center Widget Title: NewsGothicBT-BoldCondensed, sans-serif, normal, 1.75rem, 2rem, #000000</a></div>

  <div class="as-special-collapsible-menu">
    <ul class="menu">
      <li>
        <a href="#">Secondary Menu: NewsGothicBT, sans-serif, normal, 1.167rem, 1.167rem, uppercase, #000000</a>
        <ul class="menu">
          <li><a href="#">Second Menu Child: NewsGothicBT, sans-serif, normal, 1.167rem, 1.5rem, none, #000000</a></li>
      </li>
    </ul>
  </div>

  <div class="category-value">Category: Adobe Garamond Pro, Garamond, serif, italic, 1rem, uppercase, #000000</div>

  <div class="views-field-title"><a href="#">Sidebar Title: Verdana, Arial, Helvetica, sans-serif, bold, 1rem, #000000</a></div>

  <div class="view-calendar-feature">
    <div class="views-field-title">
      <a href="#">Sidebar Event Title: Verdana, Arial, Helvetica, sans-serif, normal, 1rem, 1.25rem, #f26532</a>
    </div>
  </div>

  <div>Body: Verdana, Arial, Helvetica, sans-serif, normal, 1rem, 1.25rem, #000000</div>

  <div class="views-field-view-node"><span><a href="#">widget call to action &raquo; : Adobe Garamond Pro, Garamond, serif, italic, 1.167rem, 1.25rem, #f26532</a></span></div>

  <p class="image-caption">Image Caption: Verdana, Arial, Helvetica, sans-serif, italic, 0.8333rem, 1.25rem, #000000</p>
</div>
