<div class="logo-imgs"><img src="/public/images/leo_circle.png"></div>
<div class="logo-imgs"><img src="/public/images/logo.png"></div>
<div class="logo-imgs"><img src="/public/images/logoclassic.png"></div>
