		<script type="text/javascript" src="../../js/vendor/jquery.js"></script>
	<script type="text/javascript" src="../../js/app.js"></script>
		<script type="text/javascript" src="../../js/vendor/foundation.min.js"></script>
		<script type="text/javascript" src="../../js/what-input.js"></script>
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}
	
	</body>
</html>